@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@1,100&display=swap');

//color principal txt
$keycolor:#0083a6;

//fontweight
$textregular:400;
$textsizeM:700;
$textL:900;
$textbold: 600;
$textligh:300;

//sizes
$textSm:1.5rem;
$textMd:2.5rem;
$textXl:3rem;
$textXxl:3.5rem;

//width
$w-30:30%;
$w-60:60%;
$w-250:250px;

//background color
$bcolornav:rgba(241, 241, 241, 0.88);
$bcolorfooter:rgba(118, 138, 140, 0.5);
